/*Promociones */ 
.promociones{
    background-image: url(img/banner.png);
    background-size: cover;
    height: 352px;
}
.banner{
    line-height: 2;
    text-align: end;
    margin-right: 60px;
}
.titulo__promocion{
    font-size: 52px;
    color: #FFFFFF;
}
.descuento{
    color: #FFFFFF;
    font-size: 22px;
}
.btn__promocion{
    width: 129px;
    height: 51px;
    background: var(--color--principal);
    font-size: 16px;
    color: #FFFFFF;
    border: none;
}
.btn__promocion:hover{
    cursor: pointer;
}